<!-- INFO: bootstrap3 used -->
<div id="page-top" class="index">
  <!-- Navigation Section-->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="logo-main" href="/">Pick Three 3</a>
      </div>
    </div>
  </nav>

  <!-- Big Header Section (jumbotron) -->
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">It's time to think about...</div>
        <div class="intro-heading">where to go in Sapporo.</div>
        <p>
          <a href="#about" class="page-scroll">
            <img src="/assets/images/svg/snowy.svg" class="lead-img-clickable" alt="snowflake icon" />
          </a>
        </p>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="wow pulse a-pulse-com" data-wow-delay="0.6s" data-wow-duration="1.0s">About</h2>
          <h3 class="description-wrapper">PickThree3 is a quick planning service.<br/>It will help you pick out<br/>three best places in Sapporo trip.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col4-img-wrapper wow fadeInLeft a-fadeIn-com a-fadeIn-left" data-wow-delay="0.3s" data-wow-duration="1.0s">
          <img src="/assets/images/svg/images.svg" class="col4-img" alt="pictures icon describing this service's feature" />
          <h4>Lots of places</h4>
          <p class="description-wrapper">Great local food, beautiful scenery, snowy activities, you can find anything in Sapporo.</p>
        </div>
        <div class="col-md-4 col4-img-wrapper wow fadeInUp a-fadeIn-com a-fadeIn-up" data-wow-delay="0.3s" data-wow-duration="1.0s">
          <img src="/assets/images/svg/list-numbered.svg" alt="" class="col4-img" alt="three numbers and lines icon describing this service's feature" />
          <h4>Help to organaize</h4>
          <p class="description-wrapper">After picking out three candidate places, you can change priority order and more.</p>
        </div>
        <div class="col-md-4 col4-img-wrapper wow fadeInRight a-fadeIn-com a-fadeIn-right" data-wow-delay="0.3s" data-wow-duration="1.0s">
          <img src="/assets/images/svg/share2.svg" alt="" class="col4-img" alt="network icon describing this service's feature" />
          <h4>Share draft plan</h4>
          <p class="description-wrapper">For sharing your draft plan with friends, you can tweet the plan info.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Intro Section -->
  <section id="entry" class="entry-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <%= link_to "- Let's explore Sapporo! -", root_path + "sample", class: "btn btn-block btn-extra-big" %>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <footer>
    <div class="container">
      <div class="row">
        <div>Location Data taken by LinkData.</div>
        <div>Photo taken by Sapporo City.</div>
        <div>Copyright &copy; 2016 PickThree3 All Rights Reserved.</div>
      </div>
    </div>
  </footer>
</div>
